---
layout: default
---

<div class="gallery">
  <h1>{{ page.title }}</h1>
  <div class="gallery-grid">
    {% for image in page.images %}
      <div class="gallery-item">
        <a href="{{ image.path | relative_url }}" data-lightbox="{{ page.title }}" data-title="{{ image.caption }}">
          <img src="{{ image.path | relative_url }}" alt="{{ image.caption }}">
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<link rel="stylesheet" href="/css/lightbox.min.css">
<script src="/js/lightbox-plus-jquery.min.js"></script>